@keyframes fadein {
  from {
      opacity:0;
  }
  to {
      opacity:0.5;
  }
}

[data-aos="fade-cta"] {
  opacity: 0;
  transform: translateX(20px);
  transition-property: transform opacity;
  &.aos-animate {
    opacity: 1;
    transform: translateX(0);
  }
}

[data-aos="fade-brand"] {
  opacity: 0;
  transform: translateX(-20px);
  transition-property: transform opacity;
  &.aos-animate {
    opacity: 1;
    transform: translateX(0px);
  }
}

[data-aos="fade"] {
  opacity: 0;
  transition-property: opacity;
  &.aos-animate {
    opacity: 1;
  }
}

[data-aos="scale"] {
  transform: scale(2);
  opacity: 1;
  transition-property: transform opacity;
  &.aos-animate {
  transform: scale(5);
  opacity: 0;
  }
}

[data-aos="scale-up"] {
  transform: scale(0.5);
  transition-property: transform;
  &.aos-animate {
  transform: scale(1);
  }
}
