/* colors */
$blue: #428BFF;
$red: #FF4A53;
$dark: #888;

$cta: #84ce6f;

$accent: #D4403C;
$accent-inactive: desaturate($accent, 75%);
$secondary: #fff;


/* tab setting */
$tab-count: 3;
$indicator-width: 100px;
$indicator-height: 5px;

/* breakpoints */
$breakpoints: (
  medium: 1000px,
  small: 560px
);


/* selectors relative to radio inputs */
$label-selector: "~ ul > li";
$slider-selector: "~ .slider";
$content-selector: "~ .content > section";



$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;
